# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CurioLab.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Documents\GDP\Projetos\CurioLab\.idea\.idea.CurioLab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/